
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- x-icon -->
    <link rel="shortcut icon" href="https://labartisan.net/demo/turulav/turulav-light/assets/images/x-icon.png" type="image/x-icon">

    <!-- Other css -->
    <link rel="stylesheet" href="https://labartisan.net/demo/turulav/turulav-light/assets/css/animate.css">
    <link rel="stylesheet" href="https://labartisan.net/demo/turulav/turulav-light/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://labartisan.net/demo/turulav/turulav-light/assets/css/icofont.min.css">
    <link rel="stylesheet" href="https://labartisan.net/demo/turulav/turulav-light/assets/css/swiper.min.css">
    <link rel="stylesheet" href="https://labartisan.net/demo/turulav/turulav-light/assets/css/style.css">
    <link rel="stylesheet" href="css/main.css">

    <title>TuruLav</title>
</head>

<body>

    <!-- ==========Header Section Starts Here========== -->
    <header class="header-section">
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="https://labartisan.net/demo/turulav/turulav-light/index.html">
                            <img src="https://labartisan.net/demo/turulav/turulav-light/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu-area">
                        <ul class="menu">
                            <li>
                                <a href="https://labartisan.net/demo/turulav/turulav-light/index.html">Members</a>
                            </li>
                        </ul>
                        <a href="/login" class="login"><span>LOG IN</span> </a>
                        <a href="/register" class="signup"><span>SIGN UP</span> </a>

                        <!-- toggle icons -->
                        <div class="header-bar d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="ellepsis-bar d-lg-none">
                            <i class="icofont-info-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Sign up Section start Here========== -->
    <div class="login-section padding-tb bg-ash">
        <div class="container">
            <div class="account-wrapper">
                <h3 class="title">Login</h3>
                <form class="account-form">
                    <div class="form-group login-form">
                        <input type="text" placeholder="Samaritan DID" name="did">
                    </div>
                    <div class="form-group login-form">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <div class="form-group login-form">
                        <button class="d-block lab-btn login-btn" onclick="return false"><span>Submit Now</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ==========Sign up Section ends Here========== -->
</body>

<script src="js/main.js"></script>

</html>